.uNode {
  width: 10px;
  height: 10px;
  /* border-radius: 50%;
  background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  /* transform: translate(-50%, -50%);
  z-index: 10; */
}

.uNodeLabel {
  font-size: 8px;
  color: white;
  pointer-events: none;
}